body{
    background-color:white;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Roboto Condensed', sans-serif; */

}
li{
    font-size: 20px;
    padding-top: 12px;
}
header h1 ,.propular-section{
    font-size: 35px;
}
.container{
    width: 1440px;
    margin: 20px auto;
    
}
nav{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
header > nav > .nav-menu >ul{
    display: flex;
    
    
}
.nav-menu > ul > li{
    list-style: none;
    margin: 0 20px;

}
.half-div h1{
    font-size: 60px;
    font-weight: bold;
    margin: 0;
    padding: 0px;
}
.half-div p{
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0px;
}
.advertisement{
    display: flex;
    justify-content:space-between;
    margin-top: 40px;
    
}
.advertisement > .special-bg{
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
}
.advertisement-button{
    padding: 15px 25px;
    border-radius: 30px;
    color: white;
    background-color: #FD297A;
    font-size: 20px;
    margin: 20px 0px;
}
.logo-section > a > img{
    width: 100px;
    padding: 10px 0px 10px 50px;
}
.logo-section > a{
    margin-right: 50px;
}
.logo-section{
    margin:100px 0px;
}
.card-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
}
.card-section > .card{
    padding: 20px;
    /* margin:10px; */
    border-radius: 20px;
    box-shadow: 7px 7px  10px lightgray;

}
.card-section > .card > img{
    width: 100%;
}
.card > p > .fas{
    color: orange;
    font-size: 20px;
}
.card > p{
    font-size: 20px;
    
}
.card-section > .card h4 , h5{
    margin-bottom: 0px;
    margin-top: 6px;
}
.card-section > .card > p > span{
    margin-left: 20px
}
.seemore-button{
    margin-top: 20px;
    position: absolute;
    width:200px;
    height: 24px;
    left: 1550px;
    padding: 15px 20px ;
    color: #FD297A;
    border: none;
    font-size: 25px;
    background-color: white;
}
/* .optional-section{
    width: 1110px;
    height: 270px;
    display: flex;
    justify-content: space-around;
    margin:100px 0px;
}
.optional-img > img{
    width: 404px;
    height: 270px;  
} */

footer{
    margin-top: 150px;
    text-align: center;
    background-color:  #0A0826;
    color: white;
    padding: 30px 0px;

}
footer > h2{
    font-size:30px;

}
footer > .social-link > a{
    font-size: 30px;
    color: white;
    padding: 10px;
}



 /* Media Query for Mobile Devices */
 @media (max-width: 480px) {
    .advertisement > .half-div{
        display: flex;
        /* flex-wrap: wrap; */
        flex-direction: column;
    }
}
  
/* Media Query for low resolution  Tablets, Ipads */
/* @media (min-width: 481px) and (max-width: 767px) {
    nav, li {
        
    }
} */
  
/* Media Query for Tablets Ipads portrait mode */
/* @media (min-width: 768px) and (max-width: 1024px){
    body {
        background-color: blue;
    }
}
   */
/* Media Query for Laptops and Desktops */
/* @media (min-width: 1025px) and (max-width: 1280px){
    body {
        background-color: green;
    }
} */
  
/* Media Query for Large screens */
/* @media (min-width: 1281px) {
    body {
        background-color: white;
    }
} */